<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <h3 class="navbar-brand text-light" href="#">Driver App</h3>
    <button type="button" class="btn btn-primary" (click)="logout()">Sign Out</button>
  </div>
</nav>
<section class="p-1 mt-2">
  <div class="card p-3">
    <div>
      <span class="fs-5 fw-semibold">Current Status:</span>
      <span class="badge text-bg-success ms-2">{{ currentStatus }}</span>
    </div>
  </div>
  <div class="my-3">
    <input type="text" class="form-control" id="status" placeholder="status" [(ngModel)]="newStatus">
    <button class="btn btn-primary" (click)="update()">Add status</button>
  </div>
  <label class="fs-5 mt-3 ms-1">Status:</label>
  <ul class="list-group p-1 list-status">
    <li *ngFor="let update of updateList" class="list-group-item">{{ update.status }} - {{ update.location }}</li>
  </ul>
</section>
